.start{
    background: linear-gradient(180deg, #E8F0F2 0%, rgba(232, 240, 242, 0) 100%);
    .startImg{
        max-width: 90%;
        margin-bottom: 48px !important;
    }
    h2{
        max-width: 90%;
        margin-bottom: 22px !important;
        text-align: center;
    }
    .description{
        font-family: "Open Sans";
        max-width: 80%;
        font-weight: 700;
        font-size: 15px;
        line-height: 26px;
        color: #3A4850;
        text-align: center;
        margin-bottom: 30px !important;
    }
}