.page{
    h3{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
        color: #0F0F0F;
        margin-bottom: 24px !important;
    }
}