.page{
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
        color: #0F0F0F;
        margin-bottom: 24px !important;
        width: 80%;
    }
}