/* Smartphones ширина(<280px)  */
@media only screen
and (max-device-width : 280px) {
    .headerMenu{
        height: 55px !important;
        .headerRow{
            height: 48px !important;
            .pageNum{
                font-size: 16px !important;
            }
            .menuBtn{
                min-height: 15px;
            }
        }
        .progressBar{
            height: 7px !important;
        }
    }

    .headerStartMenu{
        height: 55px !important;
        .headerStartRow{
            height: 55px !important;
            .menuBtn{
                min-height: 15px;
            }
        }
    }

    .finish{
        .headerStartMenu{
            height: 55px !important;
            .headerStartRow{
                height: 48px !important;
                .menuBtn{
                    min-height: 15px;
                }
            }
            .progressBar{
                height: 7px !important;
            }
        }
        h2{
            font-size: 19px !important;
        }
        .description{
            font-weight: 600 !important;
            font-size: 15px !important;
        }
        .funBtn{
            font-size: 16px !important;
            padding: 14px 44px !important;
            border-radius: 50px !important;  
        }
        .disclaimer{
            font-size: 11px !important;
            max-width: 90% !important;
            line-height: 11px !important;
        }
    }

    h2{
        font-size: 19px !important;
    }
    h3{
        font-size: 18px !important;
    }
    h4{
        font-size: 14px !important;
    }
    .start{
        h2{
            font-size: 18px !important;
        }
        .description{
            font-weight: 600 !important;
            font-size: 14px !important;
        }
    }

    .sixth{
        h3{
            width: 80% !important;
        }
    }

    .seventh{
        h3{
            width: 80% !important;
        }
    }

    .ninth{
        h3{
            width: 80% !important;
        }
    }

    .sliderPage h3{
        width: 90% !important;
    }


    .chooseItem{
        width: 80% !important;
        .itemContent{
            width: 100% !important;
            .itemText{
                .itemTitle{
                    font-size: 16px !important;
                }
            }
        }
    }

    .chooseTextItemDouble{
        .itemTitle{
            font-size: 15px !important;
        }
        .itemDescr{
            font-size: 15px !important;
        }
    }

    .chooseItemDouble{
        width: 85% !important;
        .itemIcon{
            flex: 0.6 !important;
            padding: 0 4px;
            img{
                max-width: 70%;
            }
        }
        .itemTitle{
            font-size: 16px !important;
        }
    }

    .chooseTextItem{
        width: 80% !important;
    }

    .textItem{
        width: 80% !important;
    }

    .itemTitle{
        font-size: 16px !important;
    }

    .funBtn{
        font-size: 16px !important;
        padding: 13px 40px;
        border-radius: 50px;
    }

    .skipLink{
        font-size: 16px;
    }

}

/* Smartphones ширина(281px - 374px)  */
@media only screen
and (min-device-width : 281px)
and (max-device-width : 374px) {
    .fourSecond{
        h3{
            width: 80% !important;
        }
    }

    .fifth{
        h3{
            width: 80% !important; 
        }
    }

    .sixth{
        h3{
            width: 80% !important;
        }
    }

    .sliderPage h3{
        width: 90% !important;
    }


    .chooseTextItem{
        width: 80% !important;
    }
}

/* Smartphones ширина(376px - 414px)  */
@media only screen 
and (min-device-width : 376px) 
and (max-device-width : 414px) {
    .sliderWrapper{
        .sliderRow{
            grid-template-columns: repeat(4, 230px) !important;
        }
    }

    .chooseTextItem{
        width: 80% !important;
    }
}

/* Smartphones ширина(415px - 767px)  */
@media only screen 
and (min-device-width : 415px) 
and (max-device-width : 767px) {
    .four{
        img{
            max-height: 20%;
        }
        .chooseTextItemDouble{
            width: 70% !important;
        }
    }
    .sliderWrapper{
        .sliderRow{
            grid-template-columns: repeat(4, 230px) !important;
        }
    }
}

/* Smartphones высота, которых больше 800px */
@media only screen 
and (min-height : 800px){
    .headerMenu{
        height: 88px !important;
        .headerRow{
            height: 78px !important;
            .pageNum{
                font-size: 23px !important;
            }
            .menuBtn{
                min-height: 20px;
            }
        }
        .progressBar{
            height: 10px !important;
        }
    }

    .headerStartMenu{
        height: 88px !important;
        .headerStartRow{
            height: 88px !important;
            .menuBtn{
                min-height: 20px;
            }
        }
    }

    .skipLink{
        font-size: 18px;
    }

    .start{
        .description{
            font-weight: 600 !important;
            font-size: 18px !important;
        }
    }

    .finish{
        .headerStartMenu{
            height: 88px !important;
            .headerStartRow{
                height: 78px !important;
                .menuBtn{
                    min-height: 20px;
                }
            }
            .progressBar{
                height: 10px !important;
            }
        }
        h2{
            font-size: 22px !important;
        }
        .description{
            font-weight: 600 !important;
            font-size: 18px !important;
        }
        .funBtn{
            font-size: 23px !important;
            padding: 20px 65px !important;
            border-radius: 50px !important;  
        }
        .disclaimer{
            font-size: 16px !important;
            bottom: 30px !important;
            max-width: 90% !important;
            line-height: 18px !important;
        }
    }

    h3{
        font-size: 25px !important;
    }
    h4{
        font-size: 18px !important;
    }

    .sliderPage h3{
        width: 90% !important;
    }

    .fourSecond{
        h3{
            width: 80% !important;
        }
    }

    .sixth{
        h3{
            width: 80% !important;
        }
    }

    .seventh{
        h3{
            width: 80% !important;
        }
    }

    .ninth{
        h3{
            width: 80% !important;
        }
    }

    .chooseItem{
        width: 80%;
        .itemContent{
            width: 100% !important;
            height: 200px !important;
            .itemIcon{
                padding-top: 15px !important;
                img{
                    min-height: 60%;
                }
            }
            .itemText{
                .itemTitle{
                    font-size: 23px !important;
                }
            }
        }
    }

    .textItem{
        width: 80% !important;
    }

    .itemTitle{
        font-size: 23px !important;
    }

    .chooseItemDouble{
        .itemTitle{
            font-size: 20px !important;
        }
    }

    .sliderWrapper{
        .sliderRow{
            grid-template-rows: repeat(4, 130px) !important;
            a{
                .itemContent{
                    height: 100%;
                    .itemIcon{
                        flex: 1 !important;
                        img{
                            min-width: 70%;
                        }
                    }
                    .itemText{
                        align-items: flex-start !important;
                        padding-top: 5px;
                    }
                }
            }
        }
    }

    .funBtn{
        font-size: 23px !important;
        padding: 20px 65px;
        border-radius: 50px;
    }
}

/* Smartphone Samsung Galaxy A51/71 */
@media only screen 
and (width : 412px) 
and (height : 914px){
    .sliderWrapper{
        .sliderRow{
            grid-template-rows: repeat(3, 130px) !important;
            grid-template-columns: repeat(4, 230px) !important;
            a{
                .itemContent{
                    height: 100%;
                    .itemIcon{
                        flex: 1 !important;
                        img{
                            min-width: 70%;
                        }
                    }
                    .itemText{
                        align-items: flex-start !important;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
    
    .sliderWrapper{
        .sliderRow{
            grid-template-rows: repeat(3, 170px) !important;
            grid-template-columns: repeat(4, 270px) !important;
            a{
                .itemContent{
                    height: 100%;
                    .itemIcon{
                        flex: 1 !important;
                        img{
                            min-width: 70%;
                        }
                    }
                    .itemText{
                        align-items: flex-start !important;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

/* iPads, у которых высота до 800px */
@media only screen 
and (min-device-width : 768px) 
and (max-device-height : 800px){
    
    .four{
        img{
            max-height: 20%;
        }
        .chooseTextItemDouble{
            width: 70% !important;
        }
    }

    .sliderWrapper{
        .sliderRow{
            grid-template-rows: repeat(3, 95px) !important;
            grid-template-columns: repeat(4, 200px) !important;
            a{
                .itemContent{
                    height: 100%;
                    .itemIcon{
                        flex: 1 !important;
                        img{
                            min-width: 60%;
                        }
                    }
                    .itemText{
                        align-items: flex-start !important;
                        padding-top: 0px !important;
                    }
                }
            }
        }
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 1000px) {
    .sliderWrapper{
        .sliderRow{
            justify-content: center;
        }
    }
}

